:root {
  --logoPetal: hsl(18, 61%, 87%);
  --logoSpatula: hsl(14, 63%, 76%);
  --logoBack: hsl(39, 100%, 95%);
  --logoCream: hsl(39, 20%, 90%);
  --logoPink: hsl(8, 81%, 75%);
  --logoText: hsl(8, 81%, 30%);
  --logoShadow: hsl(18, 73%, 84%);
  --logoWood: hsl(32, 55%, 56%);
  --lightPetal: hsl(12, 70%, 88%);
} body {
  text-align: center;
  background-image: url('marble.avif'), url('marble.avif');
  background-size: 1213px 379px, 571px 577px;
  background-position: 0 0, 137px 199px;
  font-family: sans-serif;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  color: var(--logoText);
  background-color: var(--lightPetal);
} #count {
  font-size: 5rem;
  margin: 0;
} #art svg { 
  max-width: 400px; 
  width: 100%; 
} h1 {
  font-size: 1.5rem;
}
