:root {
  --logoSpatula: hsl(14, 63%, 76%);
  --logoBack: hsl(39, 100%, 95%);
  --logoText: hsl(8, 81%, 30%);
  --lightPetal: hsl(12, 70%, 88%);
} body {
  text-align: center;
  background-image: url('marble.avif'), url('marble.avif');
  background-size: 1213px 379px, 571px 577px;
  background-position: 50% 0, calc(50% + 137px) 199px;
  font-family: sans-serif;
  color: var(--logoText);
  background-color: var(--lightPetal);
} h1 {
  font-size: 1.5rem;
} button {
  font-size: 1.1em;
  border-radius: .3em;
  cursor: pointer;
  color: var(--logoText);
  background-color: var(--logoBack);
  border-top-color: var(--logoSpatula);
  border-left-color: var(--logoSpatula);
  border-bottom-color: var(--logoText);
  border-right-color: var(--logoText);
} summary {
  cursor: pointer;
} #count {
  font-size: 4rem;
  margin: 0;
} #art svg { 
  max-width: 400px; 
  width: 100%; 
  aspect-ratio: 1;
}
